extends layout

block content
 
  h2(class= "font-bold text-stone-600 text-xl ") #{title}
  h6(class= "mt-4 text-stone-400 font-semibold leading-6") Welcome to Spare The Car, your premier source for top-tier car modifications and accessories. Whether you're aiming to enhance performance, elevate aesthetics, or upgrade your interior, we provide an extensive range of high-quality parts to meet your needs. From advanced infotainment systems and sleek alloy wheels to custom body kits and luxurious leather interiors, our selection is designed for the discerning car enthusiast. Join our community at SpareTheCar and transform your vehicle into the ultimate driving machine.

  h6(class= "mt-4 text-stone-600 font-semibold") #[strong Number of items in cart :]  !{products}
  h6(class= "mt-4 text-stone-600 font-semibold") #[strong Number of categories we have available :] !{categories}
  